<!DOCTYPE html>
<html>
  <head>
    <title>LawnNinja</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% link_to 'login', '/login', class: 'btn btn-primary' %>
    <% link_to 'logout', '/logout', class: 'btn btn-primary' %>
    <%= yield %>
  </body>
</html>
